html {
  scroll-behavior: smooth;
}

.scroller {
  transition: transform 350ms;
}

.slide {
  transition: opacity 350ms;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /*margin-left: -30px;  gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #2d4298;
  margin-bottom: 10px;
}

@media (min-width: 1100px) {
  .my-masonry-grid {
    margin-left: -30px; /*gutter size offset */
  }
}

.active-link {
  color: #2d4298;
  background-color: #f8fafc;
  font-weight: 500;
}
